<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <meta http-equive="X-UA-Compatible" content="ie=edge" />
    <title> Document</title>
</head>

<body>
    <h1>Home</h1>
    <p> This page will be never used. I should delete it!</p>

    <a href="/users/login">Login</a>
</body>


</html>